{# Button and Link Styles
 *
#}


{% set btnLinkStyles = [
  'btn-solid',
  'btn-tag',
]
%}

{% set iconBtnLinkStyles = [
  'link-chevron',
  'link-back',
  'btn-close',
  'btn-search',
]
%}

<h2 class="h2 " id="linkstyles">Buttons and links</h2>
<p class="body-lg mt-zero">css/common/_buttons-links.scss</p>
<hr class="mt-sm mb-sm">
{% for btn in btnLinkStyles %}
  <a class="{{ btn }} btn inline-block mr-xs" href=" ">.btn.{{ btn }}</a>
{% endfor %}
      {% for btn in iconBtnLinkStyles %}
        <a class="{{ btn }} btn inline-block mr-xs" href=" ">.btn{{ btn }}
          {#          {% include('@ts_motif/_includes/icon-' ~ btn ~ '.html.twig') %}#}
        </a>
      {% endfor %}
<div class="mt-sm">
  <h4 class="h4 mt-md">Include icons in twig files to animate them</h4>
  {% for btn in iconBtnLinkStyles %}
    <p class="body-sm inline-block mr-xs">
      {#          {% include('@ts_motif/_includes/icon-' ~ btn ~ '.html.twig') %}#}
      {#          { % include('@ts_motif/_includes/icon-{{ btn }}.html.twig') % }#}
    </p>
  {% endfor %}
</div>

<h3 class="h3 mt-xl mb-sm">Social Links</h3>
