{#
/**
 * @file
 * /patterns page template
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{{ attach_library('ts_motif/ts_patterns') }}


<header role="banner">
    {{ page.header }}
    {{ page.primary_navigation }}
    {{ page.secondary_navigation }}
</header>

<div class="patterns-container h-full min-h-screen pr-md bg-[#f3f2f2]">
  {{ page.hero }}
  {{ page.highlighted }}
  {{ page.breadcrumb }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>
      {{ page.aside }}
      {{ page.content }}
  </main>

  {% if page.footer %}
    <footer role="contentinfo" class="footer">
      {{ page.footer }}
    </footer>
    <div class="text-center mt-4xl">ThinkShout, {{ 'now' | date('Y') }}</div>
  {% endif %}

</div>{# /.container #}
